/*Start FastHelpers Themes Classes (FHTC) for Dark Mode Theme*/
.par {color: #b1b1b1}

.dark-color {color: #f7f7f7}

.dark-box {background: #222}

.shadow {box-shadow: 0 0 16px rgba(126, 126, 126, .6)}
/*End FastHelpers Themes Classes (FHTC) for Dark Mode Theme*/

/*Start Re-edit Site Pages*/
/*Start Article Page*/
.comments .comments-box .comment .comment-body::after {border-color: transparent #222}
/*End Article Page*/
/*End Re-edit Site Pages*/

/*Start Re-edit Components*/
/*Start Body*/
body {background-color: #121212}
/*End Body*/

/*Start Navbar Component*/
.navbar {background-color: #f7f7f7; border-bottom: 1px solid #222}

.navbar-toggle {border: 1px solid #222}

.navbar li a, .navbar .navbar-brand {color: #222}

.navbar-nav li .dropdown-menu {background: rgba(247, 247, 247, .8); border-bottom-color: #222}

.navbar-nav li .dropdown-menu .divider {background: #222}

.navbar-collapse.in {background: #f7f7f7; border-bottom-color: #222}

/*Special Styles for the Navbar at this Media Screen Size < 767 px ,in the Dark Mode ONLY.*/
@media (max-width: 767px) {
    .navbar-form {
        box-shadow: inset 0 1px 0 rgba(34, 34, 34, .1), 0 1px 0 rgba(34, 34, 34, .1);
    }
    .navbar-nav .open .dropdown-menu {background: rgba(189, 189, 189, .4)}
}
/*End Navbar Component*/
/*End Re-edit Components*/

/*Start Re-edit Features*/
/*Start Tools Bar*/
.tools-bar {color: #222; background: #f7f7f7; border: 1px solid #222}

.tools-bar hr {border-top-color: #222}

.tools-bar .gear {background: #f7f7f7; border: 1px solid #222}
/*End Tools Bar*/
/*End Re-edit Features*/