/*Start Header*/
header.header {
    padding-top: 30px;
    background-size: cover!important;
    height: 55vh;
    overflow: hidden
}

header.header .intro .btn:first-of-type {margin-right: 10px}

header.header .header-photo img {width: 60%}
/*End Header*/

/*Start Domain Section*/
.domain form {padding: 40px 20px; width: 80%; margin: auto}

.domain .search-domain-input span {border-radius: 15px 0 0 15px}

.domain .search-domain-input input {background: transparent; border-radius: 0px 15px 15px 0}

.domain .search-domain-input input::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff!important;
    opacity: 1!important /* Firefox */
}

.domain .search-domain-input input::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff!important;
    opacity: 1!important /* Firefox */
}

.domain .search-domain-input input::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff!important;
    opacity: 1!important /* Firefox */
}

.domain .search-domain-input input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff!important;
    opacity: 1!important /* Firefox */
}

.input-lg {padding: 12px 15px}

/*Start style the Select Menu of Domains (Custom Style)*/
.domain .custom-select select {display: none/*hide original SELECT element:*/}
  
.domain .select-selected {background-color: transparent; font-weight: bold; font-size: 18px}
  
/*Style the arrow inside the select menu*/
.domain .select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #ddd transparent transparent transparent
}
  
/*Point the arrow upwards when the select box is open (active)*/
.domain .select-selected.select-arrow-active:after {border-color: transparent transparent #ddd transparent; top: 7px}
  
/*Style the items (options), including the selected item*/
.domain .select-items div,
.select-selected {
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.domain .select-selected {border: 1px solid #ddd; padding: 12px 15px; border-radius: 15px}
  
/*Style items (options)*/
.domain .select-items {
    position: absolute;
    background-color: rgba(0,0,0, .4);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: hidden;
    margin-top: 3px;
    border-radius: 15px
}
  
/*Hide the items when the select menu is closed*/
.domain .select-hide {display: none}
  
.domain .select-items div:hover, .same-as-selected {color: #fff}  
/*End style the Select Menu of Domains (Custom Style)*/

.domain .search-domain-btn input {width: 160px; padding: 12px 15px}

.domain .domains {width: 80%; margin: 40px auto 0; overflow: hidden}

.domain .domains img {margin-right: 20px}
/*End Domain Section*/

/*Start Features Section*/
section.features {background-position-x: -35%!important}

section.features .feature {margin-bottom: 40px}

section.features .feature:hover .logo {top: -10px}

section.features .feature .logo {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 8px
}
/*End Features Section*/

/*Start Offers Section*/
.offers {background: url("../../images/offers/offers.jpg") no-repeat; background-size: cover}

.offers .offers-slider .offer {width: 85%; margin: auto; overflow: hidden}

.offers .offers-slider .offer .tip {
    display: inline-block;
    width: 82px;
    padding: 5px;
    text-indent: -8px;
    z-index: 2;
    position: absolute;
    top: 4px;
    right: -29px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg)
}

.offers .offers-slider .offer .box1 h4 {padding: 5px}

.offers .offers-slider .offer .box1 ul.list-group li.list-group-item i {margin-right: 8px}

.offers .offers-slider .offer .box2 .img {margin-top: 10px}

.offers .offers-slider .offer .box2 button {margin-top: 20px}

.offers .counter {
    width: 100%;
    margin: 60px auto 20px;
    display: flex;
    justify-content: space-between
}

.offers .counter li {
      flex: 1;
      font-size: 30px;
      z-index: 999
}

.offers .counter span.percent:after {content: "K+";display: inline-block; margin-left: 8px}
/*End Offers Section*/

/*Start Plans Section*/
.plans .pricingTable {border-width: 15px 0}

.plans .pricingTable .pricingTable-header {background: rgba(88,78,78, .3); border-radius: 0 0 10px 10px}


.plans .pricingTable .amount {font-size: 70px; font-weight: 700; display: inline-block}

.plans .pricingTable .month {font-size: 30px; font-weight: 500; display: inline-block}

.plans .pricingTable .pricing-content {
    background:#22272b;
    margin: -20px 15px 0;
    padding: 0 30px 30px;
    background-image: repeating-linear-gradient(transparent, transparent 2px, #161b1f 7px, #161b1f 5px);
    z-index:2
}

.plans .pricingTable .pricing-content:before {
    content: "";
    position: absolute;
    background:#272c32;
    border: 2px solid #33383c;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    top: -20px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-transform: uppercase;
    z-index: -1;
    border-radius: 10px 10px 0 0
}

.pricingTable .title {border-bottom: 1px solid #000; padding-bottom: 10px}

.pricingTable .pricing-content ul li {
    font-size: 17px; 
    line-height: 60px; 
    text-align: left;
    border-bottom: 1px solid #000
}

.pricingTable .pricing-content ul li i.fa {font-size: 12px; margin:0 10px}

.pricingTable .pricing-content ul li.disable i.fa {color:#495259!important; text-shadow:0 0 4px #000}


.plans .pricingTable .pricingTable-signup {
    font-size: 25px;
    display: block;
    overflow: hidden;
    border-radius:10px 10px 0 0
}

.plans .pricingTable .pricingTable-signup:hover {letter-spacing: 2px; text-decoration: none}

.plans .pricingTable .pricingTable-signup:before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    transform: translate(0, 100%);
    display: inline-block;
    position:absolute;
    left:0;
    top:0
}

.pricingTable .pricingTable-signup:hover:before{
    opacity:1;
    transform:translate( 0,-100%);
    -webkit-transform:translate( 0,-100%);
    -moz-transform:translate( 0,-100%);
    -ms-transform:translate( 0,-100%);
    -o-transform:translate( 0,-100%)
}
/*End Plans Section*/

/*Start Customer-Service Section*/
.customer-service {
    background: url("../../images/customer-service.jpg") no-repeat; background-size: cover}

.customer-service span i.fa-headphones,
.customer-service p.par,
.customer-service h3 {z-index: 999}

.customer-service .spinner {
    width: 80px;
    height: 80px;
    margin: 100px auto;
    z-index: 9
}

.customer-service .spinner i {
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 12
} 

.customer-service .double-bounce1,
.customer-service .double-bounce2 {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out
}
  
.customer-service .double-bounce2 {-webkit-animation-delay: -1.0s; animation-delay: -1.0s}
  
@-webkit-keyframes sk-bounce {
    0%, 100% {-webkit-transform: scale(0.0)} 
    50% {-webkit-transform: scale(1.0)}
}
  
@keyframes sk-bounce {
    0%, 100% {transform: scale(0.0); -webkit-transform: scale(0.0)} 
    50% {transform: scale(1.0); -webkit-transform: scale(1.0)}
}

.customer-service .iframe-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0, .9);
    z-index: 999999;
    display: none
}

.customer-service .iframe-container iframe {
    top: 22%;
    left: 10%;
    width: 80vw;
    height: 50vh
}
/*End Customer-Service Section*/

/*Start Services Section*/
.services .service {margin-top: 50px}

.services .service:hover {top: -12px}

.services .service .service-img {width: 30%; margin: 10px auto 15px; z-index: 2}

.services .service .service-img img {width: 70%}

.services .service:hover h4,
.services .service:hover p.par {color: #fff; z-index: 2}
/*End Services Section*/

/*Start Secure Section*/
.secure {background: url("../../images/secure.jpg"); background-size: cover}

.secure .container {z-index: 999}

.secure .props {margin-top: 50px; margin-left: 50px}

.secure .props .media {margin-bottom: 20px; margin-right: 5px}

.secure .props .media .media-left .media-object {box-shadow: 1px 0 5px 0px #fff}

.secure .props .media .media-body {padding-left: 5px}

.secure .props .media .media-body h4,
.secure .props .media .media-body p.par {text-align: left}
/*End Secure Section*/

/*Start Sponsors Section*/
.sponsors .logo-carousel {border-left-width: 0px; border-right-width: 0px}
/*End Sponsors Section*/

/*Start Special Features for Home Page*/
/*Start Loader*/
.loader.overlay {
    position: fixed;
    background: #222; 
    z-index: 999999;
}

.loader .loader-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    animation: loader .5s infinite;
}

@keyframes loader {
    0%, 10% {opacity: .6}
    25%, 75% {opacity: 1} 
    90%, 100% {opacity: .5}
}
/*End Special Features for Home Page*/